body {
  background-color: darkslategray;
  /*temporary color*/
  display: none;
}

h1 {
  
}

h3 {
  
}

.header,.content {
  border: 5px outset white;
  background-color: gray;
  /*background-image: linear-gradient(red,yellow);*/
}

.header {
  display: flex;
  width: 500px;
}

.content {
  padding: 10px;
}

p {
  font-family: "Times New Roman", Times, serif;
}

.right {
  /* color: black;*/
  font-style: italic;
  font-size: 12px;
  text-align: right;
}

#text {
  padding-left: 10px;
}

#image {
  padding: 10px;
}
